.intro{
	font-family: "Trebuchet MS",sans-serif;
	/*font-family: "Brush Script MT",cursive;*/
	/*font-family: "Segoe UI",sans-serif;*/
}

#my-Image{
	border-radius: 100%;
	height: 150px;
	margin-left: 150px;
	margin-top: 50px;
}

.skill{
	max-height: 100px;
	max-width: 100px;
}



/*----------------footer------------------*/
footer{
	background-color: #222;
	width:100%;
	color: #E5E4E2;
	text-decoration:none;
}
#right-div-bot{
	margin-right: 50px;
}
#left-div-bot{
	margin-left: 100px;
}

.fa{
  color:grey;
}